.social {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.bi-telephone-fill, .bi-twitter, .bi-envelope, .bi-instagram {
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    border: 2px solid var(--primary, #310A90);
    background: var(--white, #FFF);
    text-align: center;
    font-size: 24px;
}

.bi-arrow-down {
    font-size: 66px;
}

.under {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.credit {
    display: inline-flex;
    align-items: flex-start;
    gap: 4px;
}

.text__credit {
    color: var(--white, #FFF);
    text-align: center;
    
    /* Body 1 */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.888px; /* 161.8% */
    letter-spacing: 0.08px;
}

.bi-heart-fill {
    font-size: 24px;
}
