.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    border-radius: 4px;
    border: 2px solid var(--primary, #310A90);
    background: var(--primary, #310A90);
}

.content__button {
    display: flex;
    padding: 13px 24px;
    align-items: flex-start;
    gap: 8px;
}
